@model List<Ivteks72.App.Models.Order.OrderByStatusViewModel>

@{
    ViewData["Title"] = "Accept";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="bg-info text-center">Your accepted orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Clothing)
            </th>                                   
            <th>                                    
                @Html.DisplayNameFor(model => model.First().Quantity)
            </th>                                   
            <th>                                    
                @Html.DisplayNameFor(model => model.First().IssuedOn)
            </th>                                   
            <th>                                    
                @Html.DisplayNameFor(model => model.First().IssuerName)
            </th>                                   
            <th>                                    
                @Html.DisplayNameFor(model => model.First().Company)
            </th>                                   
            <th>                                    
                @Html.DisplayNameFor(model => model.First().TotalOrderPrice)<span>$</span>
            </th>                                   
            <th>                                    
                @Html.DisplayNameFor(model => model.First().Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Clothing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssuedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssuerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalOrderPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
}
    </tbody>
</table>
