@model List<Ivteks72.App.Models.Order.OrderByStatusViewModel>

@{
    ViewData["Title"] = "Finished";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1 class="bg-info text-center">Your finished orders</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                Clothing
            </th>
            <th>
                Quantity
            </th>
            <th>
                Issued On
            </th>
            <th>
                Issuer
            </th>
            <th>
                Company
            </th>
            <th>
               Total Order Price
            </th>
            <th>
               The status of your order
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Clothing)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssuedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssuerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalOrderPrice)<span>$</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
        </tr>
}
    </tbody>
</table>
