@using Ivteks72.App.Pagination

@model PaginatedList<Ivteks72.App.Models.Order.OrderByStatusViewModel>

@{
    ViewData["Title"] = "Finished";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="jumbotron justify-content-lg-between text-center">Your finished orders</h1>
<table class="table table-striped text-center">
    <thead>
        <tr>
            <th>
                Clothing
            </th>
            <th>
                Quantity
            </th>
            <th>
                Issued On
            </th>
            <th>
                Issuer
            </th>
            <th>
                Company
            </th>
            <th>
                Total Order Price Without VAT
            </th>
            <th>
                The status of your order
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ClothingName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @item.IssuedOn.ToString("dd/MM/yyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IssuerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalOrderPriceWithoutVAT)<span>$</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderStatus)
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Finished"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-dark @prevDisabled">
    Previous
</a>
<a asp-action="Finished"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-dark @nextDisabled">
    Next
</a>