@using Ivteks72.App.Pagination

@model PaginatedList<Ivteks72.App.Models.Invoice.InvoiceViewModel>

@{
    ViewData["Title"] = "ViewAllInvoices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 div class="jumbotron justify-content-lg-between text-center">All Invoices</h1>

<form asp-action="Index" method="get">
    <div class="form-actions no-color text-center">
        <input type="text" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Search..." class="col-lg-4" />
        |<input type="submit" value="Search" class="btn btn-dark" /> | |
        <a asp-action="ViewAllInvoices" class="btn btn-dark">Back to Full List</a>|
    </div>
</form>
<br />
<table class="table table-striped text-center">
    <thead>
        <tr>
            <th>
                <a asp-action="ViewAllInvoices" asp-route-sortOrder="@ViewData["BilledToSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">BIlled To</a>

            </th>
            <th>
                <a asp-action="ViewAllInvoices" asp-route-sortOrder="@ViewData["CompanyNameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Company Name</a>
            </th>
            <th>
                <a asp-action="ViewAllInvoices" asp-route-sortOrder="@ViewData["ClothingNameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Clothing Name</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="myTable">
        @for (int i = 0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].BIlledToUser)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].ClothingName)
                </td>
                <td>
                    <span class="btn btn-dark text-sm-center">@Html.ActionLink("Details", "InvoiceDetails", new { id = Model[i].Id }) </span>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="ViewAllInvoices"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-dark @prevDisabled">
    Previous
</a>
<a asp-action="ViewAllInvoices"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-dark @nextDisabled">
    Next
</a>
