@using Ivteks72.App.Pagination

@model PaginatedList<Ivteks72.App.Models.Order.AdminOrderViewModel>

@{
    ViewData["Title"] = "ViewAllOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 div class="jumbotron justify-content-lg-between text-center">All Orders</h1>

<form asp-action="Index" method="get">
    <div class="form-actions no-color text-center">
        <input type="text" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Search..." class="col-lg-4" />
        |<input type="submit" value="Search" class="btn btn-dark" /> | |
        <a asp-action="ViewAllOrders" class="btn btn-dark">Back to Full List</a>|
    </div>
</form>
<br />
<table class="table table-striped text-center">
    <thead>
        <tr>
            <th>
                <a asp-action="ViewAllOrders" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Issuer Name</a>
            </th>
            <th>
                <a asp-action="ViewAllOrders" asp-route-sortOrder="@ViewData["CompanyNameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Company Name</a>
            </th>
            <th>
                <a asp-action="ViewAllOrders" asp-route-sortOrder="@ViewData["ClothingNameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Clothing Name</a>
            </th>
            <th>
                <a asp-action="ViewAllOrders" asp-route-sortOrder="@ViewData["DateSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Issued On</a>
            </th>
            <th>
                <a asp-action="ViewAllOrders" asp-route-sortOrder="@ViewData["QuantitySortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Quantity</a>
            </th>
            <th>
                <a asp-action="ViewAllOrders" asp-route-sortOrder="@ViewData["PricePerUnitSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Price Per Unit</a>
            </th>
            <th>
                <a asp-action="ViewAllOrders" asp-route-sortOrder="@ViewData["OrderStatusSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Order Status</a>
            </th>
            <th>
                Download Diagram
            </th>
            <th>
                Change Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="myTable">
        @foreach (var item in Model)
        {
            <tr class="order">
                <td>
                    @Html.DisplayFor(modelItem => item.IssuerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClothingName)
                </td>
                <td>
                    @item.IssuedOn.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PricePerUnit)<span>$</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderStatus)
                </td>
                <td>
                    <a href="@item.DiagramUrl" class="btn btn-info text-sm-center">View Clothing Diagram</a>
                </td>
                <td>
                    @if (item.OrderStatus == "Finished" || item.OrderStatus == "Rejected")
                    {
                        <span class="info">No action is needed!</span>
                    }
                    else
                    {
                        <span class="btn btn-dark text-sm-center">@Html.ActionLink("Change order status", "Edit", new { id = item.Id }) </span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="ViewAllOrders"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-dark @prevDisabled">
    Previous
</a>
<a asp-action="ViewAllOrders"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-dark @nextDisabled">
    Next
</a>