@model IEnumerable<Ivteks72.App.Models.Order.AdminOrderViewModel>

    @{
    ViewData["Title"] = "ViewAllOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h1 div class="jumbotron justify-content-lg-between text-center">All Orders</h1>

    <input type="text" class="form-control text-primary" id="myInput" name="search" placeholder="Search..." />
    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th>
                    <a asp-action="ViewAllOrders" asp-route-sortOrder="@ViewData["NameSortParm"]">Issuer Name</a>
                </th>
                <th>
                    <a asp-action="ViewAllOrders" asp-route-sortOrder="@ViewData["CompanyNameSortParm"]">Company Name</a>
                </th>
                <th>
                    <a asp-action="ViewAllOrders" asp-route-sortOrder="@ViewData["ClothingNameSortParm"]">Clothing Name</a>
                </th>
                <th>
                    <a asp-action="ViewAllOrders" asp-route-sortOrder="@ViewData["DateSortParm"]">Issued On</a>
                </th>
                <th>
                    <a asp-action="ViewAllOrders" asp-route-sortOrder="@ViewData["QuantitySortParm"]">Quantity</a>
                </th>
                <th>
                    <a asp-action="ViewAllOrders" asp-route-sortOrder="@ViewData["PricePerUnitSortParm"]">Price Per Unit</a>
                </th>
                <th> 
                    <a asp-action="ViewAllOrders" asp-route-sortOrder="@ViewData["OrderStatusSortParm"]">Order Status</a>
                </th>
                <th>
                    Download Diagram
                </th>
                <th>
                    Change Status
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody id="myTable">
            @foreach (var item in Model)
            {
            <tr class="order">
                <td>
                    @Html.DisplayFor(modelItem => item.IssuerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClothingName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IssuedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PricePerUnit)<span>$</span>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderStatus)
                </td>
                <td>
                    <a href="@item.DiagramUrl" class="btn btn-info text-sm-center">View Clothing Diagram</a>
                </td>
                <td>
                    @if (item.OrderStatus == "Finished" || item.OrderStatus == "Rejected")
                    {
                    <span class="info">No action is needed!</span>
                    }
                    else
                    {
                    <span class="btn btn-dark text-sm-center">@Html.ActionLink("Change order status", "Edit", new { id = item.Id }) </span>
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>

    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
