@model IEnumerable<Ivteks72.App.Models.Order.AdminOrderViewModel>

@{
    ViewData["Title"] = "ViewAllOrders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 div class="jumbotron justify-content-lg-between text-center">All Orders</h1>

<table class="table table-striped text-center">
    <thead>
        <tr>
            <th>
                Issuer Name
            </th>
            <th>
                Company Name
            </th>
            <th>
                Clothing Name
            </th>
            <th>
                IssuedOn
            </th>
            <th>
                Quantity
            </th>
            <th>
                Price Per Unit
            </th>
            <th>
                Order Status
            </th>
            <th>
                Download Diagram
            </th>
            <th>
                Change Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IssuerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClothingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssuedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PricePerUnit)<span>$</span>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderStatus)
            </td>
            <td>
                <button type="submit" asp-page-handler="DownloadFile" class="btn btn-info text-sm-center">Download</button>
            </td>
            @*<a href="abc.txt">Download File</a>*@
            <td>
                @if (item.OrderStatus == "Finished")
                {
                    <span class="info">No action is needed!</span>
                }
                else
                {
                    <span class="btn btn-dark text-sm-center">@Html.ActionLink("Change order status", "Edit", new { id = item.Id }) </span>
                }
            </td>
        </tr>
}
    </tbody>
</table>
